*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.banner{
    width: 100%;
}

.principal{
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.item{
    font-style: italic;
}

.beneficios{
    background-color: #FFFFFF;
    padding: 20px;
}

.itens{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 40%;
}

footer{
    padding: 40px 0 ;
    text-align: center;
    background: url("../imagens/bg.jpg");
}

.copyright{
    color: #FFF;
    font-size: 13px;
    margin-top: 40px;
}